.btn {
  align-self: center;
  border: 2px solid #213547;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: transparent;
  color: #213547;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #213547;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 4px 8px rgba(33, 53, 71, 0.2);
}

.btn:active {
  transform: translateY(1px);
}

.icon {
  margin-right: 8px;
  color: #213547;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #00ff6a;
}
